pjproject-2.9/pjproject-vs14.VC.db
pjproject-2.9/pjsip-apps/src/pjsua/winrt/cli/wp8/obj/
pjproject-2.9/pjsip-apps/src/pjsua/winrt/cli/comp/output/
pjproject-2.9/third_party/lib
pjproject-2.9/rexsample/x64
pjproject-2.9/rexsample/Debug/
pjproject-2.9/rexsample/Release/
pjproject-2.9/rexsample/rexsample.vcxproj.filters

*.filters

OutDir/Debug/lilog.log
OutDir/Debug/logs/
OutDir/Debug/signal_log/
pjproject-2.9/UpgradeLog.htm
pjproject-2.9/pjproject-vs14.VC.VC.opendb
pjproject-2.9/pjsip-apps/bin/

# 此为注释 ,将被 Git 忽略
# 忽略所有 .a 结尾的文件
*.a
# 但 lib.a 除外
!lib.a
# 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO
/TODO
# 忽略 build/ 目录下的所有文件
build/
# 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt
doc/*.txt
# 会忽略掉 doc/ 里面所有的txt文件，包括子目录下的（**/ 从 Git 1.8.2 之后开始支持 **/ 匹配模式，表示递归匹配子目录下的文件）
doc/**/*.txt
local.properties #过滤具体文件
！local.properties#添加具体文件
*.[oa]#忽略所有以 .o 或 .a 结尾的文件

ThirdParty/log4cxx/lib/log4cxx.lib
SFU.VC.db
SFU.VC.VC.opendb

*.lib
*.dll
*.log
*.user
*.tlog
*.htm
*.zip
*.tar.xz

.vs/
IntDir/
Lib/
OutDir/Debug/Common.dll
OutDir/Debug/Common.ilk
OutDir/Debug/Common.pdb
OutDir/Debug/Server.exe
OutDir/Debug/Server.ilk
OutDir/Debug/Server.pdb
OutDir/Debug/event.pdb
OutDir/Debug/event_core.pdb
OutDir/Debug/event_extra.pdb
OutDir/Debug/gio-2.0.dll
OutDir/Debug/gio-2.0.ilk
OutDir/Debug/gio-2.0.pdb
OutDir/Debug/glib-2.0.dll
OutDir/Debug/glib-2.0.ilk
OutDir/Debug/glib-2.0.pdb
OutDir/Debug/gmodule-2.0.dll
OutDir/Debug/gmodule-2.0.ilk
OutDir/Debug/gmodule-2.0.pdb
OutDir/Debug/gobject-2.0.dll
OutDir/Debug/gobject-2.0.ilk
OutDir/Debug/gobject-2.0.pdb
OutDir/Debug/gthread-2.0.dll
OutDir/Debug/gthread-2.0.ilk
OutDir/Debug/gthread-2.0.pdb
OutDir/Debug/jsoncpp.pdb
OutDir/Debug/libnice.dll
OutDir/Debug/libnice.ilk
OutDir/Debug/libnice.pdb
OutDir/Debug/log4z.pdb
OutDir/Debug/mbedTLS.pdb
OutDir/Debug/media.dll
OutDir/Debug/media.ilk
OutDir/Debug/media.pdb
OutDir/Debug/srtp.pdb
OutDir/Debug/zlib.pdb
log4z/Debug/
Src/Common/Debug
OutDir/Debug/log4z.lib
Src/Common/Debug/ByteBuffer.obj
Src/Common/Debug/Common.log
Src/Common/Debug/Common.pch
Src/Common/Debug/Common.tlog/CL.command.1.tlog
Src/Common/Debug/Common.tlog/CL.read.1.tlog
Src/Common/Debug/Common.tlog/CL.write.1.tlog
Src/Common/Debug/Common.tlog/Common.lastbuildstate
Src/Common/Debug/Common.tlog/Common.write.1u.tlog
Src/Common/Debug/Common.tlog/link.command.1.tlog
Src/Common/Debug/Common.tlog/link.read.1.tlog
Src/Common/Debug/Common.tlog/link.write.1.tlog
Src/Common/Debug/CriticalSection.obj
Src/Common/Debug/Errors.obj
Src/Common/Debug/Event.obj
Src/Common/Debug/File.obj
Src/Common/Debug/GZipFile.obj
Src/Common/Debug/IsThread.obj
Src/Common/Debug/Logger.obj
Src/Common/Debug/LoggerListeners.obj
Src/Common/Debug/StringUtils.obj
Src/Common/Debug/ThreadPool.obj
Src/Common/Debug/common.obj
Src/Common/Debug/stdafx.obj
Src/Common/Debug/vc140.idb
Src/Common/Debug/vc140.pdb